<% provide(:title, 'Create a diary entry') %>

<div class="page-header">
  <h1>Create a new diary entry</h1>
</div>

<div class="row">
  <%= form_for [@current_user, @diary, @entry], html: { class: 'col-sm-6' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :entry %>
      <%= f.text_area :body, class: 'form-control', rows: 10 %>
    </div>
    <div class="btn-group-vertical">
      <%= f.submit 'Create diary entry', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', user_diary_path(@current_user, @diary), class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
