<% provide(:title, 'View a diary entry') %>

<div class="page-header">
  <h1><%= l @entry.created_at.to_date %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= @entry.body %></p>
      </div>
    </div>
  </div>
</div>

<div class="btn-group">
  <%= link_to 'Back to your diary', user_diary_path(@user,@diary), class: 'btn btn-default' %>
  <%= link_to 'Delete this entry', user_diary_entry_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
  <%= link_to 'Edit this entry', edit_user_diary_entry_path, class: 'btn btn-default' %>
</div>
