<% provide(:title, 'Create a diary') %>

<div class="page-header">
  <h1>Create a new diary</h1>
</div>

<%= form_for [@current_user, @diary], html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
        <%= f.label :title, class: 'col-sm-2 col-sm-offset-2 control-label' %>
        <div class="col-sm-4">
            <%= f.text_field :title, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <%= f.submit 'Create diary', class: 'btn btn-primary btn-block'  %>
        </div>
    </div>
<% end %>
